@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

h1{
    font-size: 2.5rem;
    margin: 1em;
}


#Info{
    background: url("/BG.jpg");
    font-family: 'Montserrat',sans-serif;
}
.img{
    width: 20%;
    height: 20%;
}

.personal_info{

    margin-left: 2em;
    font-size: 20px;
    color: white;
}

#members{
    color: white;
}

.info{
    display: flex;
}

.Message{
    margin-left: 2em;
    font-size: large;
    color: white;
}
